bwdata
config
grafana/
influxdb/db/
influxdb/meta/
homeassistant/.cloud
homeassistant/entity_registry.yaml
homeassistant/home-assistant_v2.db
homeassistant/home-assistant.log
homeassistant/known_devices.yaml
homeassistant/secrets.yaml
portainer/
syncthing/
.stignore
.stfolder
Sync
syncthing
